#quit, #quitoff {
             border:none;
             background-color:transparent
            }

            #quitoff:hover {
            background-color:@theme_selected_bg_color;
            }

            #ip {
              margin-bottom:10px;
            }

            #quit:hover {
               color:@theme_selected_bg_color; 
            }

            #quit:active {
               color:@theme_fg_color;
               background-color:@theme_selected_bg_color; 
            }

            #open {
                background-color:@theme_selected_bg_color;
                border:none;
                border-radius:0px;
            }

            window {}

         window:selected {
            background:transparent;
            outline: none;
        }

        #icon {
            background:none;
            border:none;
            padding:0px;
            margin-bottom:19px;
            
        }

        #icon-image {
            min-width:20px;
        }

        #icon-image-folder {
            min-width:20px;
        }

        #devices {
           border: none;
           background: none;
           border-radius: 10px; 
           padding: 1px 6px;
           margin-left:30px;
        }

        #devices:hover {
            background-color:@theme_base_color;
        }


        #bold {
            font-weight:600;
            margin-left:12px;
            margin-bottom:0px;
        }

        box {
            padding-left:0px;
        }

        #menu_button {
            border:none;
            background:none;
            padding: 2px 30px;
        }

        #menu_button:hover {
            background-color:@theme_base_color;
        }

        #button {
            border:none;
            background:none;
            padding: 0px;
        }

        #button:hover {
            background-color:@theme_base_color;
        }


        #menu {
            padding-top:4px;
            padding-right:0px;
            border-right:1px solid @theme_base_color;
            background-color:@theme_bg_color;
            transition:2s ease-in-out;
        }

        #action-box {
            background-color:@theme_selected_fg_color;
            transition:2s ease-in-out;
        }

        #scroll {
            background-color:@theme_base_color;
            padding:16px 25px;
            margin:0px;
        }

        #bottom-text {
            font-size:13px;
        }

        #menu-toggle {
            background:none;
            border:none;
        }

        #bottom-box {
            box-shadow:0 0 2px grey;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
        }

        #scroll-box {
            margin:10px;
            margin-top:10px;
        }

        @keyframes fade {
            0% {
                opacity:1;
            } 50%{
                opacity:0;
            } 100% {
                opacity:1;
            }
        }

        #nav_bt {
            padding:6px 10px;
            border:none;
            background:none;
        }
        
        #nav-box-bt {
            padding:6px 2px;
            margin:0px;
        }

        #head-bt {
            padding:6px 20px;
            margin:0px; 
            background:rgb(34, 186, 206);
            border-left:none;
            border-right:none;
            border-radius:0px;
            font-weight:600;
        }

        #header-box {
            background-color:shade(@theme_bg_color, 0.8);
            border-bottom:1px solid shade(@theme_bg_color, 0.4);
            padding:3px 2px;
        }

        #search-bt {
            background:none;
            border:none;
            padding-right:10px;
        }

        #scroll {
            padding:0px;
            margin:0px;
        }

        #search-box {
            padding:14px;
            background-color:@theme_bg_color;
            border-bottom:1px solid rgb(40, 40, 40);
            transition:2s ease-in-out;
        }

        @keyframes open_animate {
            from {
                padding:0px;
            } to {
                padding:18px;
            }
        }

        .open {
            color:rgb(200, 200, 200);
        }

        #search-entry {
            font-size:12px;
            padding:6px;
            color:white
        }

        #search-text {
            font-size:13px;
        }

        label {
            color:@theme_fg_color;
            padding:4px;
        }

        #bar {
            min-width:2px;
            margin-top:0px;
            border-radius:60px;
            padding:0px;
            min-height:2px;
        }

        #bar trough {
            min-width:70px;
            margin:0px;
            padding:0px;
            border-radius:1000px;
            background:white;
            min-height:2px;
            
        }

        #bar progress {
           min-height:2px;
        }

        #text {
            background-color:red;
            border-radius:20px;
        }

        .hover {
            background-color:@theme_selected_bg_color;
            border-radius:6px;
        }

        #menu {
            padding:0px;
        }

        #menu-box {
            margin-right:20px;
        }

        #progress-bt {
            background:none;
            border:none;
        }

        .button {
            background:none;
            border:none;
        }

        #new-name {
            min-width:2px;
            padding: 2px;
            margin: 0px;
            min-height: 2px;
        }
